@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* .main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
} */

button[type="button"],
button[type="submit"],
button[type="reset"] {
  background: black;
  font-weight: bold;
}

#svgBtn {
  background: transparent;
}

button[disabled] {
  background: gray;
  color: rgb(36, 36, 36);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
